.LandingPage {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.header {
  position: relative;
  height: 80vh;
  background: url('./assets/stars.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -1;
}


.header::before {
  content: '';
  background: url('./assets/clouds.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 80%;
  transform: translateZ(1px);
  bottom: 20%;
  left: -20%;
  z-index: 2;
}

.header::after {
  content: '';
  background: url('./assets/clouds.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.5) translateZ(-1px);
  right: -40%;
}

@media(min-width: 630px) {
  .header::before {
    transform: translateZ(1px) scale(.7);
  }
}

@media(min-width: 850px) {
  .header::before {
    transform: translateZ(1px) scale(.6);
  }
}

@media(min-width: 1100px) {
  .header::before {
    transform: translateZ(1px) scale(.5);
    top: 3%;
    left: -17%
  }
  .header::after {
    transform: scale(1.1) translateZ(-1px);
  }
}

@media(min-width: 1500px) {
  .header::before {
    left: -13%
  }

}
.LandingPage h1 {
  padding: 1.1rem var(--padding) 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.LandingPage .h2 {
  margin-top: -2rem;
}

.logo {
  background: url('./assets/logo.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  display: inline-block;
  padding-bottom: 2rem;
  z-index: 100;
}

@keyframes ufo{
  0% {top: 15%}
  50% {top: 10%}
  100% {top: 15%}
}

.ufo {
  background: url('./assets/ufo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: -1;
  top: 25%;
  left: -2px;
  perspective: 1px;
  z-index: 1;
  transform: translateZ(-1px) ;
  animation-name: ufo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: all ease;
}

.arrow {
  font-size: 4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85%;
  box-sizing: border-box;
}

.mockup1 {
  width: 100%;
  height: 500px;
  background: url('./assets/mockup1.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mockup3 {
  width: 100%;
  height: 400px;
  background: url('./assets/mockup_3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 0;
}

.mockup4 {
  width: 100%;
  height: 400px;
  background: url('./assets/mockup_interactive.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.topBtn {
  width: auto;
  height: 42px;
  display: block;
  width: 42px;
  margin-left: auto;
  margin-right: var(--padding);
  position: absolute;
  z-index: 20;
  right: 0;
  top: 1rem;
}

.topBtn svg {
  font-size: 1.5rem;
  border: 1px solid var(--border-1);
  padding: .5rem;
  border-radius: 10px;
  color: var(--nav-btn);
  transition: all .6s ease;
  color: var(--main-text);
}

.LandingPage .botBtn {
  text-decoration: none;
  border: 1px solid var(--border-1);
  box-shadow: 3px 5px 10px -5px var(--box-shadow);
  width: calc(100% - var(--padding)*3);
  display: block;
  margin: 1rem 0;
  box-sizing: border-box;
  height: 2rem;
  text-align: center;
  padding: .35rem 0;
  color: black;
  border-radius: 10px;
  font-size: .9rem;
  font-weight: 600;
  color: var(--main-text);
  background: var(--btn-bg);
  margin: 4rem auto;
  transition: all .8s ease;
}

.LandingPage .botBtn:hover {
  background: var(--main-color-1);
}

.LandingPage .botBtn:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt var(--main-color-2);
}

.LandingPage .soon {
  opacity: .8;
  font-size: .9rem;
  margin: 0 0 0 auto;
}

.LandingPage footer {
  width: 100%;
  height: 3rem;
  display: grid;
  place-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.LandingPage footer a {
  color: white;
  text-decoration: none;
  opacity: .8;
  font-size: .9rem;
}

.LandingPage nav div:nth-child(1) {
  background: url('./assets/logo.png');
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 50px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 600;
  color: var(--main-text);
  user-select: none;
}

.LandingPage nav svg {
  font-size: 1.5rem;
  border: 1px solid var(--border-1);
  padding: .5rem;
  border-radius: 10px;
  color: var(--nav-btn);
  transition: all .6s ease;
  color: var(--main-text);
}

.LandingPage nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding);
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  transform: translateY(-2px);
}

.LandingPage nav svg:hover {
  color: var(--main-color-2)
} 

.LandingPage nav a {
  border-radius: 10px;
  height: 42px;
}