.stack {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.card {
  height: 250px;
  width: 150px;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}


.focused {
  background: purple;
  z-index: 5;
}

.focused:right() {
  background: red;
  left: 15%;
}

.left{
  left: -100%;
}

/* .card:not(.focused):nth-child(n+2) {
  background: red;
  z-index: 4;
  transform: scale(.9,.9);
  left: 15%;
}
.card:not(.focused):nth-child(n+3) {
  background: green;
  left: 30%;
  transform: scale(.8,.8);
  z-index: 3;
} */
