.wrapper {
  margin-bottom: 2rem;
}

.Stack {
  position: relative;
  height: 350px;
}

.title {
  margin: 0 0 2rem;
}

.controls {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header svg {
  font-size: 1.2rem;
  margin: 0 0 2rem;
}