.logo {
  position: absolute;
  left: var(--padding);
  background: url('./assets/logo.png');
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 50px;
  top: 13px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 600;
  color: var(--main-text)
}

.toogleBtn {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  border: 1px solid var(--border-1);
  padding: .5rem;
  border-radius: 10px;
  margin: 0 5% 5% auto;
}

.toogleBtn input[type='checkbox']{
  position: absolute;
  z-index: 1;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: .5rem;
}

.toogleBtn svg {
  position: absolute;
  z-index: 0;
  font-size: 1.5rem;
  color: var(--nav-btn);
  transition: all 1s ease;
}

.dropDown {
  width: 7rem;
  margin: 2.1rem 5% 0 auto;
  max-height: 220px;
  transition: max-height .8s ease;
}

.dropDown ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 7rem;
}

.Nav {
  height: 5rem;
  padding-top: 5%;
  transition: all 1s ease;
  overflow: hidden;
}
