@media(min-width: 850px) {
  .Home {
    padding: 0 20%
  }
}
@media(min-width: 1150px) {
  .Home {
    display: grid;
    padding: 0 20%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7rem;
  }
}

@media(min-width: 1430px) {
  .Home {
    display: grid;
    padding: 0 25%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7rem;
  }
}