.stack {
  height: 130vw;
  max-height: 570px;
  margin-bottom: 3rem;
  position: relative;
}

.deck {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.card {
  border-radius: 15px;
  position: absolute;
  height: 100vw;
  max-height: 530px;
  max-width: 350px;
  width: 240px;
  z-index: 0;
  transition: all .6s ease;
  box-shadow: 10px 10px 10px -10px black;
  box-sizing: border-box;
}

.card a {
  position: absolute;
  bottom: 5%;
  left: 5%;
  text-decoration: none;
  background: blue;
  color: white;
  width: 5rem;
  height: 28px;
  border-radius: 15px;
  display: grid;
  place-content: center;
  box-shadow: 3px 3px 5px -1px black;
  font-weight: 600
}

.card h2 {
  position: absolute;
  bottom: 50px;
  left: 5%;
  right: 5%;
  text-shadow: 5px 3px 6px black;
  font-size: 22px;
}

.focus {
  z-index: 300;
  left: 0;
  transform: scale(1,1);
  transition: opacity 0s, left .6s ease, transform .6s ease, z-index .5s;
}

.second {
  left: 15%;
  z-index: 200;
  transform: scale(.9,.9);
}

.third {
  left: 30%;
  z-index: 100;
  transform: scale(.8,.8);
  transition: z-index .6s ease, opacity 1.6s ease, transform .6s ease, left .6s ease;
}
.left {
  left: -100%;
  z-index: 400;
  opacity: 0;
  transform: scale(1.2,1.2);
  transition: z-index 1s ease, opacity 1s ease, transform 1s ease, left .6s ease;
}

.controls {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.controls button {
  padding: 0;
  border: none;
  font-size: 1rem;
}

.controls button:focus {
  outline: none;
}

.card h2 {
  color: white;
}

.stack h1 {
  margin-bottom: 2rem;
}