.wrapper {
  margin-bottom: 2rem;
}

.Stack {
  position: relative;
  height: 350px;
}

.title {
  margin: 0 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header svg {
  font-size: 1.2rem;
  margin: 0 0 2rem;
}

.controls {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  transition: all .3s ease
}

.controls svg {
  font-size: 1rem;
}

.dotsWrapper {
  max-width: 80%;
  height: 100%;
}

.dot {
  width: .5rem;
  height: .5rem;
  border: 1px solid black;
  border-radius: 200%;
  display: inline-block;
  margin: 0 .3rem;
}

.active {
  background: black;
}