body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  background: var(--bg-1);
  --main-color-1: #145374;
  --main-color-2: #e2598b;
  --sub-color-1: #82acff;
  --outline-color: #5588a3;
  --bg-1: white;
  --bg-2: #2b2726;
  --heading-color: white;
  --menu-btn: black;
  --padding-side: 0 5%;
  --btn-1: #5061e7;
  --padding: 5%;
  --border-1: rgba(0,0,0,.3);
  --border-2: rgba(0,0,0,.1);
  --opacity-bw: rgba(0,0,0,0.3);
  --main-text: black;
  --nav-btn: rgba(0,0,0,0.8);
  --box-shadow: rgba(0,0,0,.4);
  height: 100vh;
} 

section {
  padding: var(--padding-side);
}

main {
  height: 100%;
}

button, a, svg, input[type='checkbox'] {
  cursor: pointer;
}

input:focus {
  outline: none;
  box-shadow: 0 0 15px -5px blue;
}

.App {
  height: 100%;
}