body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  background: linear-gradient(var(--bg-21), var(--bg-2));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  min-width: 300px;
  background: var(--bg-2);
  color: var(--main-text);
  --main-color-1: #7f4782;
  --main-color-2: #fdd043;
  --sub-color-1: #82acff;
  --outline-color: white;
  --bg-1: white;
  --bg-2: #2b2726;
  --bg-21: #422444;
  --heading-color: white;
  --menu-btn: black;
  --padding-side: 0 5%;
  --btn-1: #5061e7;
  --padding: 5%;
  --padding-2: 5%;
  --border-1: rgba(255,255,255,.3);
  --border-2: rgba(255,255,255,.1);
  --opacity-bw: rgba(0,0,0,0.3);
  --main-text: white;
  --nav-btn: rgba(255,255,255,0.8);
  --box-shadow: rgba(0,0,0,.4);
  --btn-bg: rgba(0,0,0,.1);
  height: 100vh;
} 

button, a, svg, input[type='checkbox'] {
  cursor: pointer;
}

.App {
  height: 100%;
}

h1,h2,h3,h4, p {
  user-select: none;
}

main {
  height: 100%;
  padding: 0 var(--padding);
}

@media (min-width: 500px) {
  :root {
    --padding: 10%;
    --padding-2: 10%;
  }
}

@media (min-width: 630px) {
  :root {
    --padding: 15%;
  }
}

@media (min-width: 750px) {
  :root {
    --padding: 20%;
  }
}

@media(min-width: 850px) {
  :root {
    --padding: 25%
  }
}

@media(min-width: 1250px) {
  :root {
    --padding: 25%;
    --padding-2: 15%;
  }
}

button:disabled {
  opacity: .5;
}


input:focus,
a:focus, 
button:focus {
  box-shadow: 0 0 3pt 2pt var(--main-color-2);
  outline: none;
}
