.item{
  background: red;
  width: 150px;
  height: 250px;
  margin: 0 auto;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}

.item:nth-child(n+2){
  background: green;
  z-index: 1;
  left: 15px;
}

.item:nth-child(n+3){
  background: blue;
  z-index: 0;
  left: 30px;
}

