.Story img {
  width: 100%;
}

.Story {
  text-align: center;
  line-height: 2;
  padding: 10%
}

.Story p {
  font-size: 1.2rem;
}

.unauth h1 {
  text-align: center;
}

.unauth a {
  text-decoration: none;
  border: 1px solid black;
  width: 100%;
  display: block;
  margin: 1rem 0;
  box-sizing: border-box;
  height: 2rem;
  text-align: center;
  padding: .35rem 0;
  color: black;
  border-radius: 20px
}

.unauth img {
  height: 400px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}